<launch>

    <!--- Sim Time -->
    <param name="/use_sim_time" value="false"/>
    <!--x y z yaw pitch roll or x y z qua-->
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher"
          args="0 0 0 0 0 0 /map /slam 10"/>

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_localization)/launch/my.rviz"/>

    <node pkg="lidar_localization" type="imageProjection"    name="imageProjection"    output="screen"/>
    <node pkg="lidar_localization" type="featureAssociation"    name="featureAssociation"    output="screen"/>
    <node pkg="lidar_localization" type="localize_map" name="localize_map" output="screen">
    </node>

    <arg name="bag" default="/home/nuo/Documents/rosbag/vlp-imu/result.bag"/>
    <!--    output="screen"-->
    <node pkg="rosbag" type="play" name="rosbag" args="--pause --clock $(arg bag) -r 1"/>


</launch>
